<!DOCTYPE html>
<html>
<head>
  <title>Email Contact</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family:arial, helvetica, sans-serif; font-size:14px; line-height:20px; color: #444; background:#f2f2f2;">
<table width="100%" class="wrapper" style="margin:20px 0;">
  <tr>
    <td class="container">
      <div class="content" style="display: block!important; max-width: 600px!important; margin: 0 auto!important; clear: both!important; background:white;">
        <table cellspacing="20" width="100%">
          <tr>
            <td>
              <p class="brand" style="margin:5px 0 0; font-size:30px; margin:20px 0;"><span style="color:#e67e22;">Clothes</span>Shop</p>
            </td>
          </tr>
          <tr>
            <td class="border" style="border-top:2px solid #e67e22; border-bottom:2px solid #e67e22;">
              <h1 style="font-size:24px; color:#e67e22; margin:30px 0;">MÃ XÁC NHẬN CỦA BẠN</h1>
              <p style="margin:5px 0 0">Chào ${name},</p>
              <p style="margin:5px 0 0">Mã khôi phục mật khẩu của bạn là:<span style="color:#e67e22;font-weight: bold;">${code}</span></p>
              <p style="margin:5px 0 0">Nếu bạn cần hỗ trợ gấp hãy liên hệ hotline: 1900 9090.</p>
              <p style="margin:5px 0 0">Xin cảm ơn.</p>
            </td>
          </tr>
          <tr class="contact" style="font-size:11px; color:#999;">
            <td align="center">
              Clothes Shop Ho Chi Minh - 0123 456 789 - clothesshop@gmail.com
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
